.box {
  border: 2px solid rgb(235, 124, 20);
  border-style: double;
  border-width: 4.5px;
  transition: black 0.3s ease-in-out;
  border-top-left-radius: 130px;
}
.TextField {
  color: white;
}
.textField2 {
  color: rgb(15, 97, 180);
}
body {
  margin: 0;
}

@keyframes combinedAnimation {
  0% {
    opacity: 0.7;
    transform: translateY(-7px);
    background-position: 0% 50%;
  }
  50% {
    opacity: 1;
    transform: translateY(0);
    background-position: 50%;
  }
  /* 100% {
    opacity: 0;
    transform: translateY(-30px);
    background-position: 100% 50%;
  } */
}

.container {
  background-size: 400% 400%;
  animation: combinedAnimation 20s ease alternate;
}
#btn1 {
  transition: transform 0.4s ease;
}
#btn1:hover {
  transform: scale(1.1);
  background-color: aqua;
  color: black;
}
#btn2 {
  transition: transform 0.4s ease;
}
#btn2:hover {
  transform: scale(1.1);
  background-color: aqua;
  color: black;
}
